<div class="container">
    <mat-toolbar color="primary">
        <span>Employees list</span>
    </mat-toolbar>
</div>

<div class="container ">
    <div class="d-flex justify-content-center"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

    </div>
  
    <div class="d-flex justify-content-center table-container" *ngIf="!isLoadingResults">
  
      <table mat-table [dataSource]="employeesList" class="example-table"
             matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td class="cell" *matCellDef="let row">{{row.id}}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="employee_name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td class="cell" *matCellDef="let row">{{row.employee_name}}</td>
        </ng-container>
  
        <!-- Salary Column -->
        <ng-container matColumnDef="employee_salary">
          <th mat-header-cell *matHeaderCellDef>Salary</th>
          <td class="cell" *matCellDef="let row">{{row.employee_salary}}</td>
        </ng-container>
  
        <!-- Age Column -->
        <ng-container matColumnDef="employee_age">
            <th mat-header-cell *matHeaderCellDef>Age</th>
            <td class="cell"  *matCellDef="let row">{{row.employee_age}}</td>
          </ng-container>

        <!-- Profile image Column -->
        <ng-container matColumnDef="profile_image">
            <th mat-header-cell *matHeaderCellDef>profile image</th>
            <td class="cell" *matCellDef="let row" >
                <img width="40" alt="employer profile" src="../assets/icons/employee.png" *ngIf="row.profile_image == '' "/>
                <img width="40" alt="employer profile" src="row.profile_image" *ngIf="row.profile_image != '' "/>
            </td>
          </ng-container>

                  <!-- anual Salary Column -->
        <ng-container matColumnDef="employee_anual_salary">
            <th mat-header-cell *matHeaderCellDef>Anual Salary</th>
            <td  *matCellDef="let row">{{row.employee_anual_salary}}</td>
          </ng-container>
    

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>